.wstep {
  margin-top: 9vh;
  width: 100%;
  height: 100%;
  padding-bottom: 6vh;
}

.forward_button_wstep {
  position: fixed;

  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 5vh;
  margin: 0;
}

.forward_img_wstep {
  transition: 0.2s;
  transform: scaleX(0.9);
  transform-origin: 0%;
  transition-duration: 0.8;
  transition-delay: 0s;
  transition-timing-function: ease;
  width: 12vh;
}

.forward_img:hover {
  transform: scaleX(1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 3vh;

  padding-left: 20%;
  padding-right: 20%;
}

.content_wstep {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  padding-bottom: 10vh;
  padding-left: 20%;
  padding-right: 20%;
}

.content_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.content_photo {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.img_text_recenzje {
  padding-top: 3vh;
  padding-bottom: 1vh;
  width: 50%;
}

.content_padding {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  padding-left: 20%;
  padding-right: 20%;
}

.h1_wstep_autor {
  font-size: 1.5rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 0.75vh 1vh;
}

.h1_wstep {
  font-size: 1.5rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: black;
}

.h1_wstep_padding {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: black;
  padding-top: 5vh;
}

.h2_wstep {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
  text-indent: 3vh;
  padding: 0;
}

.h2_wstep_center {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  text-indent: 3vh;
  padding: 0;
}

.h2_wstep_right {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: right;
  line-height: 1.5;
  text-indent: 3vh;
  padding: 0;
}

.h3_wstep {
  font-size: 1rem;

  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  padding: 0;
}

.p_wstep {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  text-indent: 3vh;
  padding: 0;
}

.h2_non_indent {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.h2_non_justify {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}

.h2_non_indent_right {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: right;
  line-height: 1.5;
}

.h2_podpis {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: right;
  line-height: 1.5;
  text-indent: 3vh;
  font-style: italic;
  padding-top: 3vh;
}

.h2_left {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  text-indent: 3vh;
  font-style: italic;
  padding-top: 3vh;
}

.h2_left_bez {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  font-style: italic;
  padding-top: 3vh;
}

.h2_podpis_img {
  font-size: 0.9rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: right;
  line-height: 1.5;
  text-indent: 3vh;
  padding-top: 1vh;
}

.img_text {
  padding-top: 3vh;
  padding-bottom: 1vh;
  width: 100%;
}

.hr_line {
  width: 2vh;
}

@media screen and (max-width: 768px) {
  .content_wstep {
    padding-left: 10%;
    padding-right: 10%;
  }

  .h1_wstep_autor,
  .h1_wstep {
    font-size: 1rem;
    padding: 0.5vh 1.5vh;
  }
  .h2_wstep,
  .h2_dialog,
  .h2_podpis,
  .h2_non_indent,
  .h2_left_bez,
  .h2_non_justify,
  .h2_wstep_right,
  .h2_wstep_center {
    font-size: 0.85rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 350px) {
  .content_wstep {
    padding-left: 2%;
    padding-right: 4%;
  }

  .h1_wstep_autor {
    font-size: 1rem;
    padding: 0.5vh 1.5vh;
  }
}
