.wstep {
  margin-top: 9vh;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 6vh;
}

.forward_button_wstep {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 5vh;
  margin: 0;
}

.forward_img_wstep {
  transition: 0.2s;
  transform: scaleX(0.9);
  transform-origin: 0%;
  transition-duration: 0.8;
  transition-delay: 0s;
  transition-timing-function: ease;
  width: 12vh;
}

.forward_img:hover {
  transform: scaleX(1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

.img_anna {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5vh;
  width: 80%;
}

.wstep_img {
  width: 100%;
}

.p_wstep {
  margin: 0;

  align-self: flex-end;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
}

.h1_wstep {
  font-size: 1.25rem;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
}

.h2_wstep {
  font-size: 0.9rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  text-align: center;
}
