.left_menu {
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
  width: 20vh;
  margin-top: 9vh;
  position: absolute;
  z-index: 1;
}

.logo {
  width: 100%;
}

.left_menu_list {
  display: flex;
  column-gap: 2rem;
}

.left_menu_list ul {
  margin-left: var(--mb-1-5);
  padding-left: 0;
}

.left_menu_link {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  padding-bottom: 2vh;
}

.left_menu_item a {
  font-family: "Roboto", serif;
  font-size: 1.5vh;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.left_menu_item a:after {
  background-color: white;
}

.left_menu_item a:hover {
  color: white;
}

@media screen and (max-width: 350px) {
  .left_menu {
    margin-top: 9vh;
  }

  .left_menu_list ul {
    margin-left: 1vh;
  }
}

@media screen and (max-width: 450px) {
  .left_menu_list ul {
    margin-left: 1vh;
  }
}

@media screen and (max-width: 675px) {
  .left_menu_list ul {
    margin-left: 1vh;
  }

  .left_menu {
    width: 13vh;
  }
}
