.footer {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 6vh;
}

.footer_list {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 3vh;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  padding: 0;
}

.footer_item {
  font-size: 1.25vh;
  font-family: "Roboto", serif;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
