/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
#root,
.App,
.main {
  height: 100%;
  overflow: hidden;
}

body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
  --header-height: 3rem;

  /*COLORS*/

  --primary-color: white;
  --text-color: black;
  --bg-color: #d6b484;
  --bg-color-alt: hsl(213, 10%, 21%);
  --container-color: hsl(217, 18%, 40%);
  --border-color: hsl(210, 2%, 65%);

  /* TYPOGRAPHY */
  --body-font: "Playfair Display", sans-serif;
  --second-font: "Roboto", sans-serif;

  /* .5rem = 8px | 1rem = 16px */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* marginesy */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* BREAKPOINTS */
/* for large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}
/* for medium devices */
@media screen and (max-width: 768px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) {
}
/* for small devices */

@media screen and (max-width: 350px) {
}

button,
input,
body {
  font-family: var(--body-font);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
